<!DOCTYPE HTML>
<html>
<head>
    <title>Drools</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
        $(document).on('submit', '#form', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/api/product",
                data: '{"type": "' + $(this).find("select").val() + '"}',
                success: function(data) {
                    if (data.discount > 0) {
                        $(".value").html("Discount: " + data.discount + "%");
                    } else {
                        $(".value").html("Invalid Request!");
                    }
                }
            });
        });
</script>
<form id="form">
    <tag>Product:
        <select name="type">
            <option value="diamond">Diamond</option>
            <option value="gold">Gold</option>
        </select>
        <input type="submit" value="Submit">
    </tag>
    <span class="value"></span>
</form>
</body>
</html>